/* font family import */
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500&display=swap"');

/*muted colors listed in scss*/
$black: #0D0D0D;
$dark: #1A1818;
$darkgray: #282828;
$blue: #1790BF;
$teal: #05f2db;
$slate: #9ca6a6;
$lightgray: #d0d8d9;


/* ----------------- Box Sizing ---------------- */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}



/* utility classes */
.container {
    width: 70vw;
    margin: auto;
    max-width: 900px;
    padding: 30px 25px;
}


/* responsive images */
img {
    max-width: 100%;
    height: auto;
}

/* Global */
body {
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    color: $lightgray;
    font-size: 1rem;
    background-color: $black;
    margin: 0;
    line-height: 1.3;
}



header.primary {
    font-size: 1.2rem;
    background-color: $dark;
    padding: 20px 40px;
    text-align: center;

    & h1 {
        color: $blue;
        font-size: 2.4rem;
        border-bottom: 3px solid $blue;

        & a {
            color: $blue;
            text-decoration: none;
        }
        & a:hover {
            color: $teal;
        }
    }
    & h2 {
        color: $teal;
        font-size: 2rem;
    }
    & nav {
        width: 70vw;
        margin: 20px auto;
        max-width: 900px;

        & ul {
            display: flex;
            justify-content: space-between;
            align-content: center;
            padding: 0;

            & li {
                list-style-type: none;
                margin-bottom: 20px;

                & a, a:visited {
                    color: $teal;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-decoration: none;
                    border: 2px solid $teal;
                    padding: 8px 16px;
                    border-radius: 24px;
                }
                & a:hover, a:active {
                    color: $dark;
                    padding: 8px 16px;
                    border: 2px solid $teal;
                    background-color: $teal;
                    transition: .4s;
                }        
            }    
        }
    }
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    height: 10%;
  }

header.primary h2{
    color: $teal;
    font-size: 2rem;
}

.container {
    background-color: $black;
}

#intro {
    border-bottom: $darkgray 1px solid;

    & h2 {
    color: $teal;
    text-transform: uppercase;
    border-bottom:  1px dashed $lightgray;
    }

}

#content.container {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    border-bottom: 1px solid $darkgray;
    padding-bottom: 2.7rem;
  }

#content article.post {
    width: 30%;
    padding: .4rem;
    font-size: .8rem;
    
    & figure {
        margin: 0;
    }

    & .post-date, figcaption, .post-meta {
        text-transform: uppercase;
        color: $slate;
    }
}
a, a:hover, a:active, a:visited {
    color: $blue;
}

aside[role="complementary"]{
    background-color: $blue;
    
    & .container {
        color: inherit;
        background-color: $blue;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    & a:link {
        color: $dark;
    }
    & a:hover, a:visited {
        color: $lightgray;
    }
    & article {
        width: 50%;
        padding: 10px;
        
        & a:last-child {
            display: block;
            margin: .8rem 0;
        }
        & footer {
            visibility: hidden;
        }
    }
    & article:last-child {
        width: 100%;
    }
}

#colophon {
    background-color: $dark;
    color: $lightgray;
    padding: 10px;

    & h6 {
        margin: 0;
        text-align: center;
        font-size: .8em;
        text-transform: uppercase;
    }

}

/* Mobile Views */
@media screen and (max-width:710px) {
    header.primary nav ul {
        flex-direction: column;
        justify-content: space-between;
    }
    header.primary nav li {
        margin-bottom: 15px;
    }
    header.primary a {
        display: block;
    }
}