#MEM001, #MEM002 {
    & .card {
        margin-left:1.5rem;
        flex-direction: column;
        justify-content: space-between;
    }
    &  .card-deck {
        display: flex;
        flex-flow: row wrap;
        margin: auto;
        width: 320px;
      & .card {
        flex: 1 0 100%;
        margin-right: 0.75rem;
        margin-bottom: 0;
        margin-left: 0.75rem;
      }
      & .card-title {
          padding-top: 10px;
      }
    }
    & .img-350 {
        width: 250px;
        height: 250px;
    }
    p {
        font-size: 1rem;
    }
    h2 {
        text-align: center;
        padding: 20px 0;
        text-transform: uppercase;
    }
    h6 {
        letter-spacing: 0.2rem;
        color: white;
        text-transform: uppercase;
    }
    h4 {
        margin: 0;
        padding-top: 10px;
        letter-spacing: 0rem;
        text-transform: uppercase;
        font-weight: 700;
        color: white;
    }
}

.team-section {
    padding-top: 10rem;
 background: linear-gradient(to bottom, rgba(166, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.98) 75%, #000000 100%);
 padding-bottom: 10rem;
 border-top: solid 5px #DE3E3E;
}
.contact-section {
    padding-top: 0.25rem;
  & .card {
    border: 0;
    border-bottom: 0.25rem solid #fd0000;
    &  h4 {
        font-size: 0.8rem;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        text-transform: uppercase;
        letter-spacing: 0.15rem;
      }
      & hr {
        border-color: #a60000;
        border-width: 0.25rem;
        width: 3rem;
      }
  }
  & .social {
      margin-top: 5rem;
      & a {
        text-align: center;
        height: 3rem;
        width: 3rem;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 100%;
        line-height: 3rem;
        color: rgba(255, 255, 255, 0.3);
        &:hover {
            color: rgba(255, 255, 255, 0.5);
        }
        &:active {
            color: #fff;
        }
      }
  }
}
.rounded-circle {
    border-radius: 50% !important;
  }
  
  .fa-lg {
    font-size:1.3333333333em;
    line-height:.75em;
    vertical-align:-.0667em;
    padding: 0.5rem !important;
   }