@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

%animation-default {
  opacity: 1 !important;
  z-index: 3;
}

@mixin carousel($items, $animation: 'default') {
  .carousel {
    margin-top: -5px;
    width: 100%;
    position: relative;
    overflow: hidden;

    > input[type="radio"] {
      position: absolute;
      left: 0;
      opacity: 0;
      top: 0;

      &:checked {
        ~ .carousel__items .carousel__item,
        ~ .carousel__prev > label,
        ~ .carousel__next > label {
          opacity: 0;
        }
      }

      @for $i from 1 through $items {
        &:nth-child(#{$i}) {
          &:checked {
            ~ .carousel__items .carousel__item {
              @if $animation == 'default' {
                &:nth-child(#{$i}) {
                  opacity: 1;
                }
              }
            }

            ~ .carousel__prev {
              > label {
                @if $i == 1 {
                  &:nth-child(#{$items}) {
                    @extend %animation-default;
                  }
                } @else if $i == $items {
                  &:nth-child(#{$items - 1}) {
                    @extend %animation-default;
                  }
                } @else {
                  &:nth-child(#{$i - 1}) {
                    @extend %animation-default;
                  }
                }
              }
            }

            ~ .carousel__next {
              > label {
                @if $i == $items {
                  &:nth-child(1) {
                    @extend %animation-default;
                  }
                } @else {
                  &:nth-child(#{$i + 1}) {
                    @extend %animation-default;
                  }
                }
              }
            }

            ~ .carousel__nav {
              > label {
                &:nth-child(#{$i}) {
                  background: #090909;
                  cursor: default;
                  pointer-events: none;
                }
              }
            }
          }
        }
      }
    }

    &__items {
      margin: 0;
      padding: 0;
      list-style-type: none;
      width: 100%;
      height: 600px;
      position: relative;
    }

    &__item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: opacity 2s;
      -webkit-transition: opacity 2s;

      img {
        width: 100%;
        vertical-align: middle;
      }
    }

    &__prev,
    &__next {
      > label {
        border: 1px solid #fff;
        cursor: pointer;
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        opacity: 0;
        z-index: 2;

        &:hover,
        &:focus {
          opacity: .5 !important;
          color: #f60000;
        }

        &:before,
        &:after {
          content: "";
          position: absolute;
          width: inherit;
          height: inherit;
        }

        &:before {
          background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%),
                      linear-gradient(to left, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
          width: 60%;
          height: 60%;
          top: 20%;
        }
      }
    }

    &__prev {
      > label {
        left: 3.4%;

        &:before {
          left: 35%;
          top: 20%;
          transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
        }
      }
    }

    &__next {
      > label {
        right: 3.4%;

        &:before {
          left: 10%;
          transform: rotate(315deg);
          -webkit-transform: rotate(315deg);
        }
      }
    }

    &__nav {
      position: absolute;
      bottom: 3%;
      left: 0;
      text-align: center;
      width: 100%;
      z-index: 3;

      > label {
        border: 1px solid #090909;
        display: none;
      }
    }
  }
}


.caption {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 60px;
  overflow: hidden;
  margin-top: 10px;
}

.artpiece {
  width: calc(100% - 65px);
  display: block;
  margin-top: 0;
  & .arripe-icon {
    width: 50px;
    height: 50px;
  }
}
  .title {
  color: #f60000;
  font-size: 18px;
  line-height: 24px;
}
 
.sub-line {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.description {
  font-size: 14px;
  line-height: 18px;
  color: #c6c5c6;
}
 .credit {
  font-size: 12px;
  line-height: 16px;
  color: #a5a5a5;
  font-weight: 500;
}

.arripe-icon{ 
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.info-area {
  width: 90%;
  position: absolute;
  top: 0;
  left: 60px;
  transition: transform .4s ease-in;
}

.reed600 {
  height: 511px;
  object-fit: contain;
}
.reed-caption {
  margin-top: -10%;
}

.blue600 {
  height: 511px;
  object-fit: contain;
}

@include carousel(19);

.img-350 {
  width:350px;
  height: 350px;
}

@media only screen and (max-width: 360.1px) {

  .reed600 {
    height: 168px !important;
    object-position: 100% 60%;
  }
  .blue600 {
    height: 185px !important;
  }
  .reed-caption {
    margin-top: 5%;
  }
  .arripe-icon{ 
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }
  .sub-line {
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-direction: column;
  }
   .credit {
    font-size: 12px;
    line-height: 16px;
    color: #a5a5a5;
    font-weight: 500;
    margin-right: auto;
  }

.carousel {
  &__items {
    width: 100%;
    height: 300px;
  }
  &__prev,
  &__next {
    > label {
      top: 25%;
    }
  }

  &__prev {
    > label {
      left: 3.4%;

      &:before {
        left: 35%;
        top: 20%;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
    }
  }

  &__next {
    > label {
      right: 3.4%;

      &:before {
        left: 10%;
        transform: rotate(315deg);
        -webkit-transform: rotate(315deg);
      }
    }
  }

  &__nav {
    position: absolute;
    bottom: 3%;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 3;

    > label {
      border: 1px solid #090909;
      display: none;
    }
  }
}
.img-350 {
  width: 320px;
  height: 320px;
  margin: 0 auto;
}
}

@media only screen and (max-width: 570.1px) {

  .reed600 {
    height: 303px !important;
    object-position: 100% 60%;
  }
  .blue600 {
    height: 303px !important;
  }
  .reed-caption {
    margin-top: -2%;
  }
  .arripe-icon{ 
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }
  .sub-line {
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-direction: column;
  }
   .credit {
    font-size: 12px;
    line-height: 16px;
    color: #a5a5a5;
    font-weight: 500;
    margin-right: auto;
  }

.carousel {
  &__items {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    height: 380px;
    position: relative;
  }
  &__prev {
    > label {
      left: 0.9%;
}
  }
&__next {
  > label {
    right: 0.9%;
   }
  }
}

.img-350 {
  width: 320px;
  height: 320px;
  margin: 0 auto;
}
}

@media only screen and (min-width: 570px) and (max-width: 992.1px) {
  .img-350 {
    width: 250px;
    height: 250px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 992px) {

  .reed-caption {
    margin-top: -5%;
  }
  .arripe-icon{ 
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }
  .sub-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
   .credit {
    font-size: 12px;
    line-height: 16px;
    color: #a5a5a5;
    font-weight: 500;
    margin-left: auto;
  }

.carousel {
  margin: 0 auto !important;
  width: 900px;

  &__items {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 900px;
    height: 600px;
    position: relative;
  }
  &__prev {
    > label {
      left: 0.9%;
}
  }
&__next {
  > label {
    right: 0.9%;
   }
  }
}

.img-350 {
  width: 280px;
  height: 280px;
  margin: 0 auto;
}
}

@media only screen and (min-width: 1200px) {
 .reed-caption {
   margin-top: -1%;
 }
  .title {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  
  .description, .credit {
    font-size: 1.1rem;
  }

  .carousel {
    margin: 0 auto !important;
    width: 1100px;
  
    &__items {
      margin: 0;
      padding: 0;
      list-style-type: none;
      width: 1100px;
      height: 680px;
      position: relative;
    }
    &__prev {
      > label {
        left: 0.9%;
  }
    }
  &__next {
    > label {
      right: 0.9%;
     }
    }
  }
}

@media only screen and (min-width: 2400px) {
  .reed-caption {
    margin-top: -5%;
  }
   .title {
     font-size: 1.4rem;
     line-height: 1.8rem;
   }
   .reed600 {
     height: 800px;
   }
  
   .description, .credit {
     font-size: 1.1rem;
   }
  
   .carousel {
     margin: 0 auto !important;
     width: 1400px !important;
   
     &__items {
       margin: 0;
       padding: 0;
       list-style-type: none;
       width: 1400px;
       height: 900px;
       position: relative;
     }
   }
  }