@charset "UTF-8";
@import 'gallery';
@import 'menu';
@import 'modal';
@import 'contact';

$brightred: #DE3E3E;
$vred: #f60000;
$red: #A60000;
$darkred: #40000b;
$black: #090909;

*,
*::before,
*::after {box-sizing: border-box;}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  background-color: $darkred;
  transition: background .4s ease-in;
}

.container {
  margin: 0 auto;
  max-width: 900px;
}

.nav-container {
  margin: 0 auto;
  max-width: 100%;
}

/* stylizing */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}


.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.logo {
    width: 55px;
    height: 55px;
    padding-top: 10px;
  }

iframe {
  border: 0;
  width: 100%;
}

.img-modal {
  width: 360px;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  padding-top: 10px;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

a.svg {
  position: relative;
  display: inline-block; 
&:after {
  content: ""; 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}
}

img {
  vertical-align: middle;
  border-style: none;
}

button {
  border-radius: 0;
}

[hidden] {
  display: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.0rem;
  text-transform: uppercase;
  font-weight:700;
  letter-spacing: 0.7rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.0rem;
  text-align: center;
  padding-bottom: 5px;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid $brightred;
}

h6 {
  font-size: .75rem;
  margin-bottom: -5px;
  font-weight: 500;
  letter-spacing: 0.4rem;
  color: $red;
}


// Page Section IDs
#about {
  text-align: left;

  & h2 {
  letter-spacing: 0.5rem;
  font-weight: 700;
  color: white;
  text-align: center;
  }
  & p {
    margin: auto;
  }
}

#consume {
  & h2 {
    color: white;
  }

  & h5 {
  margin-bottom: -5px;
  font-weight: 500;
  letter-spacing: 0.4rem;
  border-bottom: none;
  text-align: left;
}
  & p {
    font-size: 1.3rem;
  }
}

#replicate {
  & h4 {
  font-size: 0.75rem;
  margin-bottom: -5px;
  font-weight: 500;
  letter-spacing: 0.4rem;
  color: #ffffff;
}

  & h6 {
  margin-bottom: -5px;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: $red;
}

  & h3 {
  font-size: 0.75rem;
  margin-bottom: -5px;
  font-weight: 500;
  color: $red;
}
}

#MEM001 h2 {
  font-weight:700;
}

#MEM001 h4, #MEM002 h4 {
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 0;
  color: white;
  border: 2px solid;
  width: 30%;
  text-align: center;
  line-height: inherit;
}

#contact a:hover, #MEM001 a:hover, #MEM002 a:hover {
  color: #fd0000;
  text-decoration: none;
}
#contact h4 {
  font-size: 0.8rem;
}

// Flex Box Cards

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: .25rem;
  margin-left: 0.33rem;
  justify-content: center;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.25rem;
}


.card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0.5rem 0.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-deck .card {
  margin-bottom: 0.75rem;
}
.card-deck {
  margin: 0 auto;
}



// FAQ page

#questions {
	margin: 40px auto 0;
  padding: 0 5%;

  & h1 {
    font-size: 2.1em;
    //font-weight: 400;
    margin-bottom: 40px;
    letter-spacing:-1px;
  }
  
  & h3 {
    -moz-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    background-color: transparent;
    border-bottom: 3px solid lighten(#f60000, 2%);
    margin: 0;
    margin: 0;
    padding: 18px 15px;
    transition: all 0.35s ease;
    font-weight: 500;
    width: 100%;
    color: white;
    
    &:hover {
      background-color: transparent;
      color: lighten(#DE3E3E, 2%);
      cursor: pointer;
    }
    
    &::before {
      content: "\276f";
      font-size: 18px!important;
      float: left;
      line-height: 30px;
      margin: 0 15px 0 5px;
      opacity: 0.5;
      -moz-transition: all 0.15s ease;
      -ms-transition: all 0.15s ease;
      -o-transition: all 0.15s ease;
      -webkit-transition: all 0.15s ease;
      transition: all 0.15s ease;
    }
  }
  
  & h3.close {
    cursor: pointer;
    
    &::after {
      content: "\2715";
      float: right;
      font-size: 11px;
      font-weight: 300;
      line-height: 30px;
    }
    
    &::before {
      -moz-transform: rotate(-90deg)!important;
      -ms-transform: rotate(-90deg)!important;
      -o-transform: rotate(-90deg)!important;
      -webkit-transform: rotate(-90deg)!important;
      transform: rotate(-90deg)!important;
    }
  }
  
  div {
    &:first-child {
      border: none;
      margin-top: 45px;
    }
  }

  
  h3:hover {
    &::before {
      opacity: 0.85;
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
  
  div.answer {
    background: transparent;
    line-height: 1.8em;
    
    p {
      font-weight: 400;
      margin: 0;
      padding: 80px 50px 25px;
    }
  }
  
}

#closeall {
	background-color:#f60000;
	bottom: 30px;
	color: lighten(#090909, 100%);
	font-size: 14px;
	padding: 5px 10px;
	position: fixed;
	right: 10%;
	text-decoration: none;
	z-index: 1;
}

// Main Sections

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 45rem;
  padding: 15rem 0;
  background-image: url("https://ensomniacs.github.io/seasonoftheplague/assets/img/gallery/Sotp-MastMobile.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead2 {
  position: relative;
  width: 100%;
  height: 350px;
  min-height: 45rem;
  padding: 15rem 0;
  background-image: url("https://ensomniacs.github.io/seasonoftheplague/assets/img/agteam375.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.about-section {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 25rem;
  padding: 13rem 0 5rem 0;
  background-image: url("https://ensomniacs.github.io/seasonoftheplague/assets/img/gallery/Aksis132Mobile.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  border-top: 7px solid rgba(255, 255, 255, 0.9);
  & p {
    margin-bottom: 5rem;
  }
  & h5 {
    margin: auto;
    border-bottom: 2px solid $vred;
    padding-bottom: -5px;
    margin-bottom: 80px;
  }
}

.cta {
  padding-top: 80%;
}

.consume-section {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 25rem;
  padding: 15rem 0;
  background-image: url("https://ensomniacs.github.io/seasonoftheplague/assets/img/gallery/consume1.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
#consume .overlay {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 25rem;
  background-image: url("https://ensomniacs.github.io/seasonoftheplague/assets/img/gallery/consume2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding: 100px 25px;
}

.contact-section, footer {
  background: $black;
}
.infect-section {
  background: linear-gradient(rgba(0, 0, 0, 1.0), rgba(166, 0, 0, 0.8));
  padding: 200px 15px;
  border-top: 3px solid #000;
}

.replicate-section {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0,1));
  padding: 150px 15px;
  border-bottom: 3px solid #fd0000;
}

.enhance-section {
  padding: 150px 15px;
  background: linear-gradient(black, $black);
}
.eliminate-section {
  background: $black;
}

// MEDIA QUERIES

// Fades and close
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}

.fade {
  transition: opacity 0.15s linear;
}

@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}
.collapse:not(.show) {
  display: none;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}
.close:hover {
  color: #000000;
  text-decoration: none;
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
}

// Mobile under 321
  @media only screen and (max-width: 321px){
    iframe {
      width: 300px;
      height: 169px;
      margin: auto;
      padding-top: 1.5rem;
    }
    h1 {
      font-size: 2.7rem;
    }
    h2 {
      font-size: 1.95rem;
    }
    h3 {
      font-size: 1.85rem;
    }
    h4 {
      font-size: 1.75rem;
    }
    h5 {
      font-size: 1.5rem;
    }
    p {
      font-size: 0.95rem;
    }

    .consume-section {
      position: relative;
      width: 100%;
      height: auto;
      min-height: 25rem;
      padding: 15rem 0;
      background-image: url("https://ensomniacs.github.io/seasonoftheplague/assets/img/gallery/consume1.webp");
      background-position: top;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-size: cover;
    }
    #consume .overlay {
      position: relative;
      width: 100%;
      height: auto;
      min-height: 25rem;
      background-image: url("https://ensomniacs.github.io/seasonoftheplague/assets/img/gallery/consume2.webp");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-size: cover;
      padding: 100px 50px;
    }
    h2 {
      text-align: center;
      margin-bottom: -5px;
    }
    #replicate {
      & h2 {
        margin-top: 0;
      }
      & h4 {
        font-size: 0.8rem;
      }
      & h6 {
      font-size: 0.75rem;
      text-align: right;
      padding-top: 5px;
      }
    }
    #consume {
      & h5 {
        font-size: 1.2rem;
      }
      & p {
        font-size: 1rem;
      }
    }
    #infect {
      & h6 {
        font-size: 0.9rem;
        text-align: right;
      }
    }
    .enhance-section {
      padding-bottom: 0!important;
    }
    #enhance {
      &h6 {
        font-size: 0.9rem;
        text-align: right;
      }
    }
    div.answer {
      margin-bottom: 350px;
      max-height: 10vh;

      &:nth-child(2) {
        margin-bottom: 460px;
      }
     }
  }

// Mobile 320-480
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .max-height {
      height: 100%;
    }
    iframe {
      width: 75% !important;
      height: 207px;
      margin: auto;
      padding-top: 1.5rem;
    }

    .consume-section {
      position: relative;
      width: 100%;
      height: auto;
      min-height: 25rem;
      padding: 15rem 0;
      background-image: url("https://ensomniacs.github.io/seasonoftheplague/assets/img/gallery/consume1.webp");
      background-position: top;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-size: cover;
    }
    #consume .overlay {
      position: relative;
      width: 100%;
      height: auto;
      min-height: 25rem;
      background-image: url("https://ensomniacs.github.io/seasonoftheplague/assets/img/gallery/consume2.webp");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-size: cover;
      padding: 100px 25px;
    }
    .infect-section {
        & h6 {
            text-align: right;
            padding: 0;
            font-size: 1.2rem;
        }
        & p {
          padding-top: 15px;
          padding-bottom: 25px;
        }
    }
    #infect {
      & p {
        margin: auto;
        width: 90vw;
      }
    }
    
    #replicate {
      & h2 {
        text-align: center;
        margin-top: 0;
        margin-bottom: -10px;
      }
      & h4 {
        font-size: 1.2rem;
      }
      & h6 {
      text-align: right;
      font-size: 1rem;
      }
     }
     #enhance {
       & h2 {
         text-align: center;
         margin-top: 0;
         margin-bottom: -10px;
       }
       & h6 {
         text-align: center;
         font-size: 0.8rem;
         padding-left: 5%;
       }
     }

    .gallery-container {
      margin: auto;
    }
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 1.95rem;
    }
    h3 {
      font-size: 1.9rem;
    }
    h4 {
      font-size: 1.8rem;
    }
    h5 {
      font-size: 0.8rem;
    }
    h6 {
      font-size: 1.1rem;
    }
    p {
      font-size: 1.2rem;
    }
     div.answer {
      margin-bottom: 150px;
      max-height: 30vh;
     }
  }

  // Mobile 480-570
  @media only screen and (min-width: 480.1px) and (max-width: 570.1px) {

    .cta {
      padding-top: 60%;
      width: 85vw;
      margin: auto;
    } 

    p {
      font-size: 1.2rem;
    }
#eliminate, #enhance {
  & h2 {
    text-align: center;
  }
  & h6 {
    text-align: center;
  }
}
    #replicate {
      & h2 {
        margin-bottom: -5px;
        text-align: center;
      }
      & h6 {
      text-align: right;
      line-height: 1.3;
    }
  }
  #infect {
    & h2 {
      text-align: center;
    }
    & h6 {
      text-align: right;
      padding-right: 50px;
    }
  }
  .max-height {
    height: 100%;
  }
  iframe {
    width: 75% !important;
    height: 205px;
    margin: auto;
    padding-top: 1.5rem;
  }

  div.answer {
    margin-bottom: 100px;
    max-height: 30vh;
   }
}


@media (min-width: 570px) {

  #replicate {
    & h2 {
      text-align: center;
      margin-top: 0;
      margin-bottom: -10px;
    }
    & h4 {
      font-size: 0.9rem;
    }
    & h6 {
    text-align: right;
    font-size: 0.9rem;
    }
   }
   #infect {
     & h2 {
       text-align: center;
     }
     & h6 {
       text-align: right;
       padding-right: 50px;
     }
   }
   p {
    font-size: 1.2rem;
  }
  div.answer {
      margin-bottom: 60px;
      max-height: 30vh;
     }
  #story {
    width: 100%;
  }
  .max-height {
    height: 750px;
  }
  .max-height2 {
    height: 450px;
    justify-content: center;
  }
}

// Mobile to tablet 570-800
@media only screen and (min-width: 570px) and (max-width: 785.98px) {
  .card {
    margin-left:1.5rem;
    flex-direction: column;
    justify-content: space-between;
}
  .card-deck {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    width: 320px;
  }
  .card-deck .card {
    flex: 1 0 50%;
    margin-right: 0.75rem;
    margin-bottom: 0;
    margin-left: 0.75rem;
  }

  .cta {
    padding-top: 40%;
    width: 55vw;
    margin: auto;
    align-items: center;
  }
  .masthead2 {
    background-image: url("https://ensomniacs.github.io/seasonoftheplague/assets/img/agteam768.webp");
  }
  iframe {
    width: 65%;
    height: 205px;
  }
  div.answer {
    margin-bottom: 60px;
    max-height: 30vh;
   }
#story {
  width: 100%;
}
}

// Tablet min start
@media (min-width: 786px) {

.cta {
  padding-top: 20%;
  width: 55vw;
  margin-left: auto;
  align-items: right;
  padding-right: 40px;
}

iframe {
  height: 207px;
  margin: auto;
  padding-top: 1.5rem;
} 
div.answer {
  margin-bottom: 60px;
  max-height: 30vh;
 }
#story {
width: 100%;
}
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
  
  .max-height {
    height: 800px;
  } 

  .max-height2 {
    height: 450px;
    justify-content: center;
  }

  .masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background-image: url("https://ensomniacs.github.io/seasonoftheplague/assets/img/gallery/SotP-Masthead.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  .masthead2 {
    background-image: url("https://ensomniacs.github.io/seasonoftheplague/assets/img/agteam768.webp");
  }

.masthead2 h2 {
  max-width: 20rem;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  font-weight: 700;
  text-align: center;
}

.about-section {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 45rem;
  padding: 15rem 0;
  background: url('https://ensomniacs.github.io/seasonoftheplague/assets/img/gallery/Aksis132.webp');
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  border-top: 7px solid rgba(255, 255, 255, 0.9);
}

.about-section p {
  margin-bottom: 5rem;
}

.consume-section {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 25rem;
  padding: 15rem 0;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

#replicate {
  & h4 {
    font-size: 0.8rem;
  }
}
}
// Tablet 801 to 991
@media (min-width: 801px) and (max-width: 991px) {
  .card {
    margin-left:1.5rem;
    flex-direction: column;
    justify-content: space-between;
}
  .card-deck {
    display: flex;
    flex-flow: row wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
  }
  .card-deck .card {
    flex: 1 0 0%;
    margin-right: 0.75rem;
    margin-bottom: 0;
    margin-left: 0.75rem;
  }
  #featured {
    height: 450px !important;
    width: 100%;
  }
  #story {
    height: 225px;
  }
}
// Tablet 992
@media (min-width: 992px) {

  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    & .navbar-brand {
    padding: 0.5rem 0;
    color: rgba(64, 0, 11, 0.5);
    }
    & .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;

       &:hover {
      color: rgba(64, 0, 11, 0.5);
       }
      &:active {
      color: $brightred;
      }
    }
    & .navbar-shrink {
    background-color: $darkred;
   
    & .navbar-brand {
      color: white;
     }

    & .nav-link {
      color: $brightred;
      padding: 1.5rem 1.5rem 1.25rem;
      border-bottom: 0.25rem solid transparent;
      &:hover {
        color: $brightred;
      }
      &:active {
        color: $brightred;
      }
      &.active {
        color: $brightred;
        outline: none;
        border-bottom: 0.25rem solid $brightred;
       }
     }
   }
   
}
.masthead {
  height: 100%!important;
  position: relative;
  min-height: 25rem;
  padding: 15rem 0;
  background: url("https://ensomniacs.github.io/seasonoftheplague/assets/img/gallery/SotP-Masthead.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
}
  .masthead h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 75rem;
    font-size: 1.75rem;
    font-weight: 700;
  }
  .masthead2 {
    position: relative;
    width: 100%;
    height: 350px;
    min-height: 45rem;
    padding: 15rem 0;
    background-image: url("https://ensomniacs.github.io/seasonoftheplague/assets/img/AGTeam1.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
  #about p {
    max-width: 900px;
  }

  .about-section {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 45rem;
    padding: 15rem 0;
    background: url('https://ensomniacs.github.io/seasonoftheplague/assets/img/gallery/Aksis132.webp');
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    border-top: 7px solid rgba(255, 255, 255, 0.9);
  }

  #replicate {
    & h4 {
      font-size: 0.8rem;
    }
  }

  .card {
    margin-left:1.5rem;
    flex-direction: column;
    justify-content: space-between;
}
  .card-deck {
    display: flex;
    flex-flow: row wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
  }
  .card-deck .card {
    flex: 1 0 0%;
    margin-right: 0.75rem;
    margin-bottom: 0;
    margin-left: 0.75rem;
  }

iframe { 
  height: 207px;
  margin: auto;
  padding-top: 1.5rem;
  width: 50%;
} 
#featured {
  height: 450px !important;
  width: 100%;
}
}

// iPad and Desktop 12000 min
@media (min-width: 1200px) {
  .container {
    margin: 0 auto;
    max-width: 900px;
  }
  .masthead {
    height: 100%!important;
    position: relative;
    min-height: 45rem;
    padding: 15rem 0;
    background: url("https://ensomniacs.github.io/seasonoftheplague/assets/img/gallery/SotP-Masthead.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  .about-section {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 45rem;
    padding: 15rem 0;
    background: url('https://ensomniacs.github.io/seasonoftheplague/assets/img/gallery/Aksis132.webp');
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    border-top: 7px solid rgba(255, 255, 255, 0.9);
  }

  body {
    letter-spacing: 0.0625em;
  }
  
  #mainNav {
    min-height: 3.5rem;
    background-color: $darkred;
    font-weight: 700;
  
    & .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #fff;
    border: 1px solid $darkred;
    
       &:focus { 
      outline: none;
       }
    }
    &.navbar-brand {
      color: #fff;
      font-weight: 700;
      padding: 0.9rem 0;
    }
    & .navbar-nav {
      & .nav-item:hover {
        color: fade($brightred, 80%);
        outline: none;
        background-color: transparent;
        font-weight: 700;
      }
      & .nav-item:active, .nav-item:focus {
        outline: none;
        color: white;
        background-color: $darkred;
        font-weight: 700;
      }
    }
  }
  .card {
    margin-left:1.5rem;
    flex-direction: column;
    justify-content: space-between;
}
  .card-deck {
    display: flex;
    flex-flow: row wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
  }
  .card-deck .card {
    flex: 1 0 0%;
    margin-right: 0.75rem;
    margin-bottom: 0;
    margin-left: 0.75rem;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .nav-link {
    display: block;
    padding: 0.5rem 1rem;
  }
  .nav-link:hover, .nav-link:focus {
    text-decoration: none;
  }
  .cta {
    width: 65vw;
  }
  #story {
    height: 450px;
  }
  
  }
  


.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 45rem;
  padding: 8rem 0;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  & h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 1.5rem;
    background: linear-gradient(rgba(255, 255, 255, 1.0), rgba(255, 255, 255, 0.5));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }

  & h2 {
    max-width: 35rem;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-weight: 700;
  }
  
}

.masthead2 {
  position: relative;
  width: 100%;
  height: 350px;
  min-height: 20rem;
  padding: 15rem 0;
  background-image: url("https://ensomniacs.github.io/seasonoftheplague/assets/img/AGTeam1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  & h2 {
    max-width: 35rem;
    font-size: 1.0rem;
    letter-spacing: 0.5rem;
    font-weight: 700;
    padding-top: 10rem;
  }
}

@media only screen and (min-width: 2400px) {
  .container {
    margin: 0 auto;
    max-width: 80vw;
  }
  .cta {
    width: 30vw;
    margin-right: 150px;
  }
  #story {
    height: 450px;
  }
  #consume.overlay {
    padding: 105px;
  }
}

