$dark: #0D0D0D;
$blue: #1790BF;
$darkteal: #118c80;
$slate: #9ca6a6;
$lightgray: #d0d8d9;


table{
    text-align:center;
    border:1px solid $dark;
}
th{
    margin:0% 2%;
    padding: 5px;
    color: $dark;
}
td{
    text-align:left;
    padding: 5px;
}
img{
    border:1px solid $dark;
}
.img-container {
    float: left;
    width: 40%;
    padding: 20px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
img[src="#"] {
    display:none;
}
#RoverError {
    color: red;
}
#PictureDateError {
    color: red;
}

label {
    padding-right: 10px;
}
input[type=radio] {
    padding-right: 10px;
}
