$navy: #0D4650;
$blue: #12BDD1;
$cream: #FFF7E9;
$tan: #F2C894;
$brown: #A6785D;
$black: #090909;
$white: #fff;

/* colors: 
navy: #0D4650;
blue: #12BDD1;
cream: #FFF7E9;
tan: #F2C894;
brown: #A6785D;
black: #090909;
white: #fff; */


//fonts: calibri, monterssat, sans serif

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: $navy;
  background-color: $white;
  font-family: Calibri, Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}

/* Base Font properties */
h1 {
  font-size: 2.5rem;
  color: $navy;
  font-weight: 700;
}

h2 {
  font-size: 2.2rem;
  color: $brown;
  font-weight: 300;
  text-transform: uppercase;
}

h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  font-weight: 1em;
}

// Header and navigation section

header a {
  text-decoration: none;
}

header {
  padding: 10px 20px;
  height: 125px;
  background-color: $cream;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

#brand {
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-decoration: none;

  & a {
    color: $navy;
  }

}

#brand2 {
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-decoration: none;
  & a.svg {
    height: 200px;
    width: 200px;
  }
  & a {
    color: $navy;
  }

}
a {
  text-decoration: none;
  color: inherit;
}

.primary {
    & ul {
      list-style: none;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      z-index: 3;

      & a {
        color: $navy;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.3rem;
      }

      & li {
        padding: 30px 10px;
      }
    }
  }


/* Mobile Menu*/
.fadeInDown {
  opacity: 1 !important;
  transform: translateY(40px) !important;
}

#menu-btn {
  position: absolute;
  top: 50px;
  right: 20px;
  padding: 10px 20px;
  border: 1px solid transparent;
  /* To avoid icon movement on hover */
  font-weight: 300;
  user-select: none;
  transition: border-color 0.3s;
  transform: translateY(-50%);
  i {
    margin-left: 10px;
  }
  &:hover {
    cursor: pointer;
    border-color: #fff;
  }
}

#menu__panel {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  z-index: 9999;
  background-color: $cream;
  box-shadow: -2px 2px 20px rgba(#000, 0.2);
  user-select: none;
  transform: translateX(300px);
  transition: transform 0.5s;
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  top: 40px;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-item {
  width: 100%;
  height: 60px;
  opacity: 0;
  transform: translateY(0);
  transition: all 0.3s;
  font-weight: 700;
  font-size: 1.4rem;
  &:hover {
    background-color: $tan;
  }
  i {
    margin: 0 10px;
  }
  a {
    display: inline-block;
    width: 100%;
    height: 70px;
    padding-left: 50px;
    line-height: 70px;
  }
}

.menu__close {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  transition: transform 0.5s;
  &:hover {
    cursor: pointer;
  }
}


/* SVG & images */
img {
  width: 100%;
}
.logo {
  width: 100px;
  height: 100px;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

a.svg {
  position: relative;
  display: inline-block; 

&:after {
  content: ""; 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}
}

.plan{
  margin: auto;
  padding: 10px;
  
 }
 
 .adv h3{
   margin-bottom: 20px;
 }


/* Sections */
.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 45rem;
  padding: 15rem 0;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  & h1 {
    text-align: center;
  }
  & h2 {
    text-align: center;
  }
  & p {
    text-align: center;
  }
  & .mast-title {
    padding: 10em;
  }
}

.img-container {
  float: left;
  width: 40%;
  padding: 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.content {
  width: 100%;
  max-width: 95vw;
  margin: auto;
}

.gallery {
  padding: 5rem 0;
  display: flex;
  margin: auto;
  & col {
  padding-bottom: -5px;
  }

  & #lightgallery {
    align-content: center;
    flex-wrap: wrap;
    flex: 1
  }
}

/* cards */

.home {
  padding: 150px auto;
}

.cards {
  width: calc(100% - 2em);
  display: grid;
  margin: auto;
    width: 100%;
    grid-gap: 1em;
    grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e";
}

.card {
  width: 100%;
  position: relative;
  transition: all 0.25s ease;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  &:last-child {
    margin-bottom: 0;
  }
  &:before {
    height: 0;
    content: "";
    display: block;
    padding-bottom: 47.36%;
  }
  &.content {
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      content: "";
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
    }
  }
  &:nth-child(1) {
    grid-area: a;
  }
  &:nth-child(2) {
    grid-area: b;
  }
  &:nth-child(3) {
    grid-area: c;
  }
  &:nth-child(4) {
    grid-area: d;
  }
  &:nth-child(5) {
    grid-area: e;
  }
  &-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-title {
    position: relative;
    color: $tan;
    text-align: center;
    font-weight: 700;
    z-index: 5;
    font-size: 1.5em;
    top: 45%;
    text-transform: uppercase;
  }
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
    .form-title {
      &:before {
        filter: blur(3px);
        opacity: 0.7;
      }
    }
  }
}


/* footer */
footer {
  background-color: $cream;
  padding: 5rem 0;
  display: grid;

  width: calc(100% - 2em);
  display: grid;
  margin: auto;
    width: 100%;
    grid-gap: 1em;
    grid-template-areas:
    "f g h i";

  .directions {
    position: relative;
    padding-bottom: 40%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
  }
  &:nth-child(1) {
    grid-area: f;
  }
  &:nth-child(2) {
    grid-area: g;
  }
  &:nth-child(3) {
    grid-area: h;
  }
  &:nth-child(4) {
    grid-area: i;
  }

  & iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 75% !important;
    height: 100% !important;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
nav.primary {
  display: none;
}

.masthead {
  & .mast-title {
    padding: 4em 2em;
  }
}

.col-2 {
  display: none;
}
.cards {
 grid-template-columns: 1fr;
}
  .directions {
  & iframe {
    display: none;
  }
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #menu-btn {
    display:none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    grid-template-areas:
      "a b e e"
      "c d e e";
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
