* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  height: 12vh;
  background-color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.svg-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: lowercase;
}

#brand {
  font-weight: 300;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  color: #387373;
  text-transform: uppercase;
  font-family: proxima-nova, sans-serif;
}
#brand strong {
  padding-right: 5px;
  font-weight: 700;
}
#brand em {
  padding-left: 5px;
}

#brand a {
  color: #387373;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 3;
}

ul a {
  color: #387373;
  background: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
}
ul a:hover {
  color: #97A6A0;
  text-decoration: none;
}

.primary li {
  padding: 30px 10px;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
  z-index: 999;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: -10%;
  height: 100vh;
  background-color: rgba(9, 9, 9, 0.9);
  padding-top: 50%;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  width: 100%;
  text-align: center;
  padding: 30px 10px;
}

@media screen and (max-width: 580px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

  header {
    background-color: transparent;
  }

  #brand {
    color: white;
    font-size: 1.5rem;
    z-index: 9999;
  }

  ul a {
    background-color: transparent;
    color: #97A6A0;
  }
  ul a:active {
    color: white;
  }
}
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 10px;
  text-decoration: none;
  color: #090909;
  font-size: 16px;
  padding: 5px;
  display: none;
}

.back-to-top:hover {
  transform: scale(1.1);
  color: #090909;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: interstate, sans-serif;
  background-color: #090909;
  color: #090909;
  font-weight: 500;
  font-style: normal;
  font-size: 1em;
  line-height: 2em;
  text-rendering: optimizeLegibility;
}

.nav-container {
  margin: 0 auto;
  max-width: 100%;
}

.content {
  width: 100%;
  margin: auto;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  align-items: fill;
  width: 100%;
  margin: 0.3em;
  background-color: #090909;
  padding-top: 15vh;
}
.gallery .galleryItem {
  flex: 1 1 auto;
  margin: auto;
  position: relative;
  margin: 0.2em;
  width: 45vw;
  height: 30vh;
  overflow: hidden;
}
.gallery .galleryItem.featured {
  width: 100vw;
  height: 70vh;
}
.gallery .galleryItem:hover img {
  filter: brightness(70%);
}
.gallery a {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.gallery h2 a {
  display: inline;
  padding: 0.8rem;
}
.gallery h2 a strong {
  font-family: interstate, sans-serif;
  font-size: 700;
}
.gallery h2 a em {
  font-size: 400;
}
.gallery img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s;
  opacity: 0.9;
  max-width: 100%;
}
.gallery figcaption {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.8em;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0) 100%);
}

h1 {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-size: 2em;
}

h2 {
  font-family: interstate-condensed, sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  padding: 3px;
}

p {
  font-family: interestate, sans-serif;
  font-weight: 500;
  font-size: 1.2em;
}

a.svg {
  position: relative;
  display: inline-block;
}
a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.logo {
  width: 55px;
  height: 55px;
  padding-right: 10px;
  filter: invert(20%) sepia(37%) saturate(294%) hue-rotate(138deg) brightness(93%) contrast(91%);
}

@media only screen and (max-width: 600px) {
  .logo {
    filter: invert(100%) sepia(94%) saturate(23%) hue-rotate(198deg) brightness(105%) contrast(110%);
  }

  .gallery {
    max-height: 30vh;
    margin: 0;
  }
  .gallery .galleryItem {
    max-height: 30vh;
    width: 100vw;
    margin: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .gallery .galleryItem .featured {
    height: 30vh;
  }
  .gallery figcaption h2 {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 601px) {
  body {
    background-color: white;
  }

  .gallery {
    background-color: white;
    margin: auto;
  }
  .gallery figcaption {
    padding: 0.8rem;
  }
}/*# sourceMappingURL=style.css.map */