@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500&display=swap"');
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://ensomniacs.github.io/it-topaz/prototype/assets/img/emissary.jpeg");
  background-size: cover;
  background-position: center;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1 {
  color: #8EA9AB;
  font-weight: 500;
  font-size: 1.6em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  text-align: center;
  padding-left: 0.375em;
}

/*Dust is content*/
.dust {
  height: 100%;
  width: 100%;
  filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.3));
  display: flex;
  justify-content: center;
  align-items: center;
  /*blur in content*/
  /* Works on Firefox */
  /* Works on Chrome, Edge, and Safari */
}
.dust:before {
  display: block;
  content: "";
  position: absolute;
  top: 10em;
  height: calc(100% - 20em);
  width: calc(100% - 20em);
  border-top: 2px solid rgba(12, 110, 117, 0.2);
  border-left: 1px solid rgba(12, 110, 117, 0.1);
  border-right: 1px solid rgba(12, 110, 117, 0.3);
  z-index: 2;
}
.dust .blur {
  height: 100%;
  width: 100%;
  background-image: url("https://ensomniacs.github.io/it-topaz/prototype/assets/img/emissary.jpeg");
  background-size: cover;
  background-position: center;
  -webkit-clip-path: inset(10em);
          clip-path: inset(10em);
  filter: blur(35px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dust > span.lft {
  position: absolute;
  left: 10%;
  top: 18%;
  z-index: 5;
  color: white;
  font-size: 1em;
  padding-left: 0.375em;
  overflow: auto;
  width: 30%;
  height: 30%;
}
.dust > span.Emissary {
  position: absolute;
  left: 10%;
  top: 40%;
  z-index: 5;
  color: white;
  font-size: 1em;
  padding-left: 0.375em;
  overflow: auto;
  width: 30%;
  height: 40%;
}
.dust > span {
  position: absolute;
  right: 10%;
  top: 30%;
  z-index: 5;
  color: white;
  font-size: 1.1em;
  font-weight: 400;
  padding-left: 0.375em;
  overflow: auto;
  width: 45%;
  height: 45%;
}
.dust > span.h1 {
  position: absolute;
  right: 10%;
  top: 20%;
  z-index: 5;
  color: #8EA9AB;
  font-weight: 500;
  font-size: 1.6em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  text-align: center;
  padding-left: 0.375em;
  overflow: auto;
  width: 45%;
  height: 45%;
}
.dust > span.h2 {
  position: absolute;
  right: 10%;
  top: 25%;
  z-index: 5;
  color: white;
  font-size: 1.3em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-weight: 300;
  padding-left: 0.375em;
  overflow: auto;
  -webkit-text-decoration: underline 1px solid #ccc;
          text-decoration: underline 1px solid #ccc;
}
.dust > span.footer {
  position: absolute;
  z-index: 5;
  top: 80%;
  left: 10%;
  color: white;
  font-size: 0.8em;
  padding-left: 0.375em;
  overflow: auto;
  width: 50%;
  height: 5%;
}
.dust img.theix {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.dust h2 {
  font-weight: 300;
  font-size: 1.3em;
  text-transform: lowercase;
}
.dust h4 {
  font-weight: 300;
  padding-top: 1.4em;
}
.dust * {
  scrollbar-width: thin;
  scrollbar-color: #194759 #0A1B26;
}
.dust *::-webkit-scrollbar {
  width: 12px;
}
.dust *::-webkit-scrollbar-track {
  background: #0A1B26;
}
.dust *::-webkit-scrollbar-thumb {
  background-color: #194759;
  border-radius: 20px;
  border: 3px solid #0A1B26;
}

@media (max-width: 980px) {
  .blur {
    -webkit-clip-path: inset(5em);
            clip-path: inset(5em);
  }

  .drop-shadow:before {
    top: 5em;
    width: calc(100% - 10em);
  }
  .drop-shadow > span {
    font-size: 1em;
  }
}
@media (max-width: 640px) {
  .dust > span {
    font-size: 0.9em;
  }
}/*# sourceMappingURL=style.css.map */