@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.carousel > input[type=radio]:nth-child(19):checked ~ .carousel__next > label:nth-child(1), .carousel > input[type=radio]:nth-child(19):checked ~ .carousel__prev > label:nth-child(18), .carousel > input[type=radio]:nth-child(18):checked ~ .carousel__next > label:nth-child(19), .carousel > input[type=radio]:nth-child(18):checked ~ .carousel__prev > label:nth-child(17), .carousel > input[type=radio]:nth-child(17):checked ~ .carousel__next > label:nth-child(18), .carousel > input[type=radio]:nth-child(17):checked ~ .carousel__prev > label:nth-child(16), .carousel > input[type=radio]:nth-child(16):checked ~ .carousel__next > label:nth-child(17), .carousel > input[type=radio]:nth-child(16):checked ~ .carousel__prev > label:nth-child(15), .carousel > input[type=radio]:nth-child(15):checked ~ .carousel__next > label:nth-child(16), .carousel > input[type=radio]:nth-child(15):checked ~ .carousel__prev > label:nth-child(14), .carousel > input[type=radio]:nth-child(14):checked ~ .carousel__next > label:nth-child(15), .carousel > input[type=radio]:nth-child(14):checked ~ .carousel__prev > label:nth-child(13), .carousel > input[type=radio]:nth-child(13):checked ~ .carousel__next > label:nth-child(14), .carousel > input[type=radio]:nth-child(13):checked ~ .carousel__prev > label:nth-child(12), .carousel > input[type=radio]:nth-child(12):checked ~ .carousel__next > label:nth-child(13), .carousel > input[type=radio]:nth-child(12):checked ~ .carousel__prev > label:nth-child(11), .carousel > input[type=radio]:nth-child(11):checked ~ .carousel__next > label:nth-child(12), .carousel > input[type=radio]:nth-child(11):checked ~ .carousel__prev > label:nth-child(10), .carousel > input[type=radio]:nth-child(10):checked ~ .carousel__next > label:nth-child(11), .carousel > input[type=radio]:nth-child(10):checked ~ .carousel__prev > label:nth-child(9), .carousel > input[type=radio]:nth-child(9):checked ~ .carousel__next > label:nth-child(10), .carousel > input[type=radio]:nth-child(9):checked ~ .carousel__prev > label:nth-child(8), .carousel > input[type=radio]:nth-child(8):checked ~ .carousel__next > label:nth-child(9), .carousel > input[type=radio]:nth-child(8):checked ~ .carousel__prev > label:nth-child(7), .carousel > input[type=radio]:nth-child(7):checked ~ .carousel__next > label:nth-child(8), .carousel > input[type=radio]:nth-child(7):checked ~ .carousel__prev > label:nth-child(6), .carousel > input[type=radio]:nth-child(6):checked ~ .carousel__next > label:nth-child(7), .carousel > input[type=radio]:nth-child(6):checked ~ .carousel__prev > label:nth-child(5), .carousel > input[type=radio]:nth-child(5):checked ~ .carousel__next > label:nth-child(6), .carousel > input[type=radio]:nth-child(5):checked ~ .carousel__prev > label:nth-child(4), .carousel > input[type=radio]:nth-child(4):checked ~ .carousel__next > label:nth-child(5), .carousel > input[type=radio]:nth-child(4):checked ~ .carousel__prev > label:nth-child(3), .carousel > input[type=radio]:nth-child(3):checked ~ .carousel__next > label:nth-child(4), .carousel > input[type=radio]:nth-child(3):checked ~ .carousel__prev > label:nth-child(2), .carousel > input[type=radio]:nth-child(2):checked ~ .carousel__next > label:nth-child(3), .carousel > input[type=radio]:nth-child(2):checked ~ .carousel__prev > label:nth-child(1), .carousel > input[type=radio]:nth-child(1):checked ~ .carousel__next > label:nth-child(2), .carousel > input[type=radio]:nth-child(1):checked ~ .carousel__prev > label:nth-child(19) {
  opacity: 1 !important;
  z-index: 3;
}

.caption {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 60px;
  overflow: hidden;
  margin-top: 10px;
}

.artpiece {
  width: calc(100% - 65px);
  display: block;
  margin-top: 0;
}
.artpiece .arripe-icon {
  width: 50px;
  height: 50px;
}

.title {
  color: #f60000;
  font-size: 18px;
  line-height: 24px;
}

.sub-line {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.description, .time {
  font-size: 14px;
  line-height: 18px;
  color: #c6c5c6;
}

.credit {
  font-size: 12px;
  line-height: 16px;
  color: #a5a5a5;
  font-weight: 500;
  margin-left: auto;
}

.arripe-icon {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.info-area {
  width: 100%;
  position: absolute;
  top: 0;
  left: 60px;
  transition: transform 0.4s ease-in;
}

.reed600 {
  height: 511px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: 100% 80%;
     object-position: 100% 80%;
}

.blue600 {
  height: 511px;
  -o-object-fit: contain;
     object-fit: contain;
}

.carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.carousel > input[type=radio] {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
}
.carousel > input[type=radio]:checked ~ .carousel__items .carousel__item,
.carousel > input[type=radio]:checked ~ .carousel__prev > label,
.carousel > input[type=radio]:checked ~ .carousel__next > label {
  opacity: 0;
}
.carousel > input[type=radio]:nth-child(1):checked ~ .carousel__items .carousel__item:nth-child(1) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(1):checked ~ .carousel__nav > label:nth-child(1) {
  background: #090909;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(2):checked ~ .carousel__items .carousel__item:nth-child(2) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(2):checked ~ .carousel__nav > label:nth-child(2) {
  background: #090909;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(3):checked ~ .carousel__items .carousel__item:nth-child(3) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(3):checked ~ .carousel__nav > label:nth-child(3) {
  background: #090909;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(4):checked ~ .carousel__items .carousel__item:nth-child(4) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(4):checked ~ .carousel__nav > label:nth-child(4) {
  background: #090909;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(5):checked ~ .carousel__items .carousel__item:nth-child(5) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(5):checked ~ .carousel__nav > label:nth-child(5) {
  background: #090909;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(6):checked ~ .carousel__items .carousel__item:nth-child(6) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(6):checked ~ .carousel__nav > label:nth-child(6) {
  background: #090909;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(7):checked ~ .carousel__items .carousel__item:nth-child(7) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(7):checked ~ .carousel__nav > label:nth-child(7) {
  background: #090909;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(8):checked ~ .carousel__items .carousel__item:nth-child(8) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(8):checked ~ .carousel__nav > label:nth-child(8) {
  background: #090909;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(9):checked ~ .carousel__items .carousel__item:nth-child(9) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(9):checked ~ .carousel__nav > label:nth-child(9) {
  background: #090909;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(10):checked ~ .carousel__items .carousel__item:nth-child(10) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(10):checked ~ .carousel__nav > label:nth-child(10) {
  background: #090909;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(11):checked ~ .carousel__items .carousel__item:nth-child(11) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(11):checked ~ .carousel__nav > label:nth-child(11) {
  background: #090909;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(12):checked ~ .carousel__items .carousel__item:nth-child(12) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(12):checked ~ .carousel__nav > label:nth-child(12) {
  background: #090909;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(13):checked ~ .carousel__items .carousel__item:nth-child(13) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(13):checked ~ .carousel__nav > label:nth-child(13) {
  background: #090909;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(14):checked ~ .carousel__items .carousel__item:nth-child(14) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(14):checked ~ .carousel__nav > label:nth-child(14) {
  background: #090909;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(15):checked ~ .carousel__items .carousel__item:nth-child(15) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(15):checked ~ .carousel__nav > label:nth-child(15) {
  background: #090909;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(16):checked ~ .carousel__items .carousel__item:nth-child(16) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(16):checked ~ .carousel__nav > label:nth-child(16) {
  background: #090909;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(17):checked ~ .carousel__items .carousel__item:nth-child(17) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(17):checked ~ .carousel__nav > label:nth-child(17) {
  background: #090909;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(18):checked ~ .carousel__items .carousel__item:nth-child(18) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(18):checked ~ .carousel__nav > label:nth-child(18) {
  background: #090909;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(19):checked ~ .carousel__items .carousel__item:nth-child(19) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(19):checked ~ .carousel__nav > label:nth-child(19) {
  background: #090909;
  cursor: default;
  pointer-events: none;
}
.carousel__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: 600px;
  position: relative;
}
.carousel__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
}
.carousel__item img {
  width: 100%;
  vertical-align: middle;
}
.carousel__prev > label, .carousel__next > label {
  border: 1px solid #fff;
  cursor: pointer;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  opacity: 0;
  z-index: 2;
}
.carousel__prev > label:hover, .carousel__prev > label:focus, .carousel__next > label:hover, .carousel__next > label:focus {
  opacity: 0.5 !important;
  color: #f60000;
}
.carousel__prev > label:before, .carousel__prev > label:after, .carousel__next > label:before, .carousel__next > label:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
}
.carousel__prev > label:before, .carousel__next > label:before {
  background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%), linear-gradient(to left, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
  width: 60%;
  height: 60%;
  top: 20%;
}
.carousel__prev > label {
  left: 2%;
}
.carousel__prev > label:before {
  left: 35%;
  top: 20%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.carousel__next > label {
  right: 2%;
}
.carousel__next > label:before {
  left: 10%;
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
}
.carousel__nav {
  position: absolute;
  bottom: 3%;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 3;
}
.carousel__nav > label {
  border: 1px solid #090909;
  display: none;
}

iframe {
  border: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  height: 85px;
  background-color: #40000b;
  display: flex;
  justify-content: space-between;
}

.ag-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#brand {
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

#brand a {
  color: white;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 3;
}

ul a {
  color: white;
  background: #40000b;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
}
ul a:hover {
  color: #f60000;
  text-decoration: none;
}

ul li {
  padding: 30px;
  border-bottom: 2px solid #40000b;
}
ul li:hover {
  border-bottom: 2px solid #f60000;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 7%;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  background-color: #40000b;
  width: 100%;
  text-align: center;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  background-color: #40000b;
  transition: background 0.4s ease-in;
}

.container {
  margin: 0 auto;
  max-width: 490px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

button {
  border-radius: 0;
}

[hidden] {
  display: none !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1rem;
  text-align: center;
  padding-bottom: 5px;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid #DE3E3E;
}

h6, .h6 {
  font-size: 0.75rem;
  margin-bottom: -5px;
  font-weight: 500;
  letter-spacing: 0.4rem;
  padding-left: 150px;
  color: #A60000;
}

#about h2 {
  letter-spacing: 0.7rem;
  font-weight: 700;
}

#consume h5 {
  margin-bottom: -5px;
  font-weight: 500;
  letter-spacing: 0.4rem;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.7rem;
  background: linear-gradient(white, rgba(255, 255, 255, 0.9), rgba(166, 0, 0, 0.9));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

#replicate h4 {
  font-size: 0.75rem;
  margin-bottom: -5px;
  font-weight: 500;
  letter-spacing: 0.4rem;
  color: #ffffff;
}

#replicate h6 {
  margin-bottom: -5px;
  font-weight: 500;
  letter-spacing: 0.4rem;
  color: #A60000;
}

#replicate h3 {
  font-size: 0.75rem;
  margin-bottom: -5px;
  font-weight: 500;
  color: #A60000;
}

#MEM001 h2 {
  font-weight: 700;
}

#MEM001 h4, #MEM002 h4 {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0.4rem;
  color: #A60000;
}

#MEM001 a:hover, #MEM002 a:hover {
  color: #fd0000;
  text-decoration: none;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.thumb {
  width: 350px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.logo {
  width: 55px;
  height: 55px;
  padding-top: 10px;
}

@media only screen and (max-width: 600px) {
  .masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 45rem;
    padding: 15rem 0;
    background-image: url("https://ensomniacs.github.io/seasonoftheplague/assets/img/gallery/Sotp-MastMobile.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 5rem auto;
  }

  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem);
  }

  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 3.5rem);
  }

  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }

  .modal-dialog-centered::before {
    height: calc(100vh - 3.5rem);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }

  .modal-sm {
    max-width: 300px;
  }
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}

.fade {
  transition: opacity 0.15s linear;
}

@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}
@media (min-width: 1200px) {
  .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .nav-link {
    display: block;
    padding: 0.5rem 1rem;
  }

  .nav-link:hover, .nav-link:focus {
    text-decoration: none;
  }
}
.accordion {
  overflow-anchor: none;
}

.accordion > .card {
  overflow: hidden;
}

.accordion > .card:not(:last-of-type) {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion > .card:not(:first-of-type) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.accordion > .card > .card-header {
  border-radius: 0;
  margin-bottom: -1px;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}
.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.close:hover {
  color: #000000;
  text-decoration: none;
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
}

.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}

@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}
.modal.show .modal-dialog {
  transform: none;
}

.modal.modal-static .modal-dialog {
  transform: scale(1.02);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background: rbga(0, 0, 0, 0.2);
  background-clip: padding-box;
  border-radius: 0.3rem;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

@media (min-width: 786px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  .masthead2 {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 45rem;
    padding: 15rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  .masthead2 h2 {
    max-width: 45rem;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    font-weight: 700;
  }

  .about-section {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 45rem;
    padding: 15rem 0;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    border-top: 7px solid rgba(255, 255, 255, 0.9);
  }

  .about-section p {
    margin-bottom: 5rem;
  }

  .consume-section {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 25rem;
    padding: 15rem 0;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  #consume overlay {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding: 100px 50px;
  }
}
@media (min-width: 992px) {
  .modal-dialog {
    max-width: 900px;
    margin: 5rem auto;
  }

  .modal-lg,
.modal-xl {
    max-width: 800px;
  }

  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: 0.5rem 0;
    color: rgba(64, 0, 11, 0.5);
  }
  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
  }
  #mainNav .nav-link:hover {
    color: rgba(64, 0, 11, 0.5);
  }
  #mainNav .nav-link:active {
    color: #DE3E3E;
  }
  #mainNav .navbar-shrink {
    background-color: #40000b;
  }
  #mainNav .navbar-shrink .navbar-brand {
    color: white;
  }
  #mainNav .navbar-shrink .nav-link {
    color: #DE3E3E;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav .navbar-shrink .nav-link:hover {
    color: #DE3E3E;
  }
  #mainNav .navbar-shrink .nav-link:active {
    color: #DE3E3E;
  }
  #mainNav .navbar-shrink .nav-link.active {
    color: #DE3E3E;
    outline: none;
    border-bottom: 0.25rem solid #DE3E3E;
  }

  .masthead {
    height: 100vh;
    padding: 0;
    background-position: center;
  }

  .masthead h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
    letter-spacing: 0.8rem;
  }

  .masthead h2 {
    max-width: 75rem;
    font-size: 1.75rem;
    font-weight: 700;
  }

  .masthead2 {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 45rem;
    padding: 15rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
}
@media (min-width: 1200px) {
  .modal-dialog {
    max-width: 1500px;
    margin: 5rem auto;
  }

  .modal-xl {
    max-width: 1140px;
  }

  .text-body {
    color: #212529 !important;
  }

  body {
    letter-spacing: 0.0625em;
  }

  #mainNav {
    min-height: 3.5rem;
    background-color: #40000b;
    font-weight: 700;
  }
  #mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #fff;
    border: 1px solid #40000b;
  }
  #mainNav .navbar-toggler:focus {
    outline: none;
  }
  #mainNav.navbar-brand {
    color: #fff;
    font-weight: 700;
    padding: 0.9rem 0;
  }
  #mainNav .navbar-nav .nav-item:hover {
    color: fade(#DE3E3E, 80%);
    outline: none;
    background-color: transparent;
    font-weight: 700;
  }
  #mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: none;
    color: white;
    background-color: #40000b;
    font-weight: 700;
  }
}
.infect-section {
  background: linear-gradient(black, rgba(166, 0, 0, 0.8));
  padding: 100px 50px;
  border-top: 3px solid #000;
}

.faq-section {
  background: linear-gradient(rgba(166, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
  padding: 100px 50px;
  border-top: 3px solid #000;
}

.replicate-section {
  background: linear-gradient(rgba(0, 0, 0, 0.8), black);
  padding-bottom: 3rem;
  padding-top: 5rem;
  border-bottom: 3px solid #fd0000;
}

.enhance-section {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 45rem;
  padding: 15rem 0;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.masthead h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 1.5rem;
  background: linear-gradient(white, rgba(255, 255, 255, 0.5));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.masthead h2 {
  max-width: 35rem;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
}

.masthead2 {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 45rem;
  padding: 15rem 0;
  background: #A60000;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.masthead2 h2 {
  max-width: 35rem;
  font-size: 1rem;
  letter-spacing: 0.5rem;
  font-weight: 700;
  padding-top: 10rem;
}

.about-section {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 45rem;
  padding: 15rem 0;
  background: #DE3E3E;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  border-top: 7px solid rgba(255, 255, 255, 0.9);
}
.about-section p {
  margin-bottom: 5rem;
}/*# sourceMappingURL=style.css.map */