body{
    background-color:darkgray;
}

img{
    max-width:100%;
}

.container{
    margin:40px auto;
    width:70vw;
    /* Set Max Content Width */
    max-width:600px;
}

/* Customize Previous/Next/Dots/Autoplay */

.slick-autoplay-toggle-button,
.slick-prev .slick-prev-icon, .slick-next .slick-next-icon,
.slick-dots li button .slick-dot-icon,
.slick-dots li.slick-active button .slick-dot-icon {
  color: white;
}

/* Customize Previous/Next/Dots/Autoplay - Active State */

.slick-next:focus .slick-next-icon,
.slick-next:focus .slick-prev-icon,
.slick-prev:focus .slick-next-icon,
.slick-prev:focus .slick-prev-icon,
.slick-dots li button:focus .slick-dot-icon:before,
.slick-dots li.slick-active button:focus .slick-dot-icon,
.slick-autoplay-toggle-button:focus 
{
    color:black;
}

.caption {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    height: 60px;
    overflow: hidden;
    margin-top: 10px;
  }
  
  .artpiece {
    width: calc(100% - 65px);
    display: block;
    margin-top: 0;
    & .arripe-icon {
      width: 50px;
      height: 50px;
    }
  }
    .title {
    color: #f60000;
    font-size: 18px;
    line-height: 24px;
  }
   
  .sub-line {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  
  .description {
    font-size: 14px;
    line-height: 18px;
    color: #c6c5c6;
  }
   .credit {
    font-size: 12px;
    line-height: 16px;
    color: #a5a5a5;
    font-weight: 500;
  }
  .arripe-icon{ 
    margin-right: 10px;
    width: 50px;
    height: 50px;
  }